.swiper{
  max-width: 1344px;
  padding: 32px;
  z-index: -0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  
}


.swiper-button-prev {
  color: #FFFF;
}

.swiper-button-next {
  color: #FFFF;
}